streamlit
openai
python-dotenv
fastapi
uvicorn
python-multipart
transformers
torch
sentencepiece
spacy
pdfplumber
python-docx
deepdiff
scipy
pandas
gTTS
fpdf
sentence-transformers
faiss-cpu
Pillow
accelerate
protobuf
paddlepaddle
paddleocr
pymupdf
opencv-python-headless
googlemaps
requests
